body {
  background: #0f0f0f;
}

header {
  position: relative;
  height: 700px;
  min-height: 500px;
  width: 100%;
  background: #161415 url(../assets/background2.jpg) no-repeat top center;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  text-align: center;
  overflow: hidden;
}

/* vertically center banner section */
header:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
header .banner {
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  width: 85%;
  padding-bottom: 30px;
  text-align: center;
}

header .banner-text {
  width: 100%;
}
header .banner-text h1 {
  font: 80px "Courier New";
  font-weight: 300;
  color: #0c0c06;
  letter-spacing: -2px;
  margin: 0 auto 18px auto;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
}
header .banner-text h3 {
  font: 18px "Courier New";
  font-weight: 600;
  color: #0c0c06;
  margin: 0 auto;
  width: 70%;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}
header .banner-text h3 span,
header .banner-text h3 a {
  color: #fff;
}
header .banner-text hr {
  width: 60%;
  margin: 5px auto 5px auto;
  border-color: #2f2d2e;
  border-color: rgba(150, 150, 150, 0.1);
}

/* home github and linked in */
header .social {
  margin: 20px 0;
  padding: 0;
  font-size: 32px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8);
}
header .social li {
  display: inline-block;
  margin: 0 20px;
  padding: 0;
}
header .social li a {
  color: #f2f2f2;
}
header .social li a:hover {
  color: #4aa8f0;
}

/* scrolldown button */
header .scrolldown a {
  position: absolute;
  bottom: 80px;
  left: 50%;
  margin-left: -29px;
  color: #f2f2f2;
  height: 42px;
  width: 42px;
  font-size: 42px;
  line-height: 42px;
  color: #fff;
  border-radius: 100%;
}
header .scrolldown a:hover {
  color: #4aa8f0;
}

/* nav-wrap */
#nav-wrap ul,
#nav-wrap li,
#nav-wrap a {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

#nav-wrap {
  font: 16px "Courier New";
  width: 100%;
  text-transform: uppercase;
  color: cornsilk;
  background-color: #0d0d0d;
  letter-spacing: 2.8px;
  margin: 0 auto;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
}
.opaque {
  background-color: #333;
}

/* hide toggle button */
#nav-wrap > a.mobile-btn {
  display: none;
}

ul#nav {
  min-height: 40px;
  width: auto;

  /* center align the menu */
  text-align: center;
}
ul#nav li {
  position: relative;
  list-style: none;
  height: 45px;
  display: inline-block;
}

/* Links */
ul#nav li a {
  display: inline-block;
  padding: 8px 13px;
  line-height: 32px;
  text-decoration: none;
  text-align: left;
  color: #fff;
}

ul#nav li a:active {
  background-color: transparent !important;
}

/* About CSS */

#about {
  background: #2b2b2b;
  padding-top: 90px;
  padding-bottom: 90px;
  overflow: hidden;
}

#about a,
#about a:visited {
  color: #fff;
}
#about a:hover,
#about a:focus {
  color: #11abb0;
}

#about h2 {
  font: 24px "Courier New";
  font-weight: 400;
  color: #fff;
  margin-bottom: 12px;
}
#about p {
  font: 16px "Courier New";
  font-weight: 500;
  line-height: 30px;
  color: #bbbbbb;
}
#about .profile-pic {
  position: relative;
  /* transform: rotate(90deg); */
  top: 50px;
  width: 200px;
  height: 200px;
  border-radius: 100%;
}
#about .contact-details {
  width: 100%;
  padding-left: 0%;
}
#about .download {
  width: 60%;
  padding-top: 6px;
}
#about .main-col {
  padding-right: 8%;
}
#about .download .button {
  margin-top: 6px;
  background: #444;
}
#about .download .button:hover {
  background: #fff;
  color: #2b2b2b;
}
#about .download .button i {
  margin-right: 15px;
  font-size: 20px;
}

/* Experience CSS */

#experience {
  background: #fff;
  padding-top: 70px;
  padding-bottom: 70px;
  overflow: hidden;
}

#experience h1 {
  font: 20px "Courier New";
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* underline */
#experience h1 span {
  border-bottom: 1px solid #097e47;
  padding-bottom: 2px;
}

#experience h2 {
  font: 25px "Courier New";
  color: #1b201a;
  font-weight: bold;
}

#experience .header-col {
  padding-top: 20px;
}
#experience .main-col {
  padding-right: 5%;
}

.education,
.work {
  margin-bottom: 48px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e8e8e8;
}

#experience .major {
  font: 18px "Courier New";
  font-weight: bold;
  color: #6e7881;
}

#experience .title {
  font: 18px "Courier New";
  font-weight: bold;
  color: #6e7881;
}
}

#experience .date {
  font: 15px "Courier New";
  margin-top: 2px;
}

/* see if still being used */
#experience .info {
  font: 16px "Courier New";
  color: #6e7881;
  margin-top: 9px;
}

/* Programming languages */

.bars {
  width: 70%;
  float: left;
  padding: 0;
  text-align: left;
}
.bars .skills {
  margin-top: 36px;
  list-style: none;
}
.bars li {
  position: relative;
  margin-bottom: 60px;
  background: #ccc;
  height: 10px;
  border-radius: 3px;
}
.bars li em {
  font: 18px "Courier New";
  color: #313131;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  position: relative;
  top: -36px;
}
.bar-expand {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding-right: 24px;
  /* display: inline-block; */
  height: 10px;
  line-height: 42px;
  border-radius: 3px 0 0 3px;
}

.java {
  background: #34ad0f;
  width: 90%;
}
.swift {
  background: #2fcf1a;
  width: 70%;
}
.typescript {
  background: rgb(186, 236, 23);
  width: 50%;
}
.javascript {
  background: #fcc52f;
  width: 40%;
}
.kotlin {
  background: #fcc52f;
  width: 40%;
}
<<<<<<< HEAD
=======

>>>>>>> e739f685d55fec937e30a557417a2bdd2f58baf4
