
/* Plus Phones  */
@media (max-width: 736px) {

    header{
        min-height: 750px;
    }

    header .banner-text h3 {
        font-weight: 400;
    }

    /* NAVBAR */

    ul#nav {
        padding-left: 15%;
    }


    /* ABOUT  */

    #about .profile-pic {
        left: 77%;
      }

    #about .main-col {
       padding-right: 2%;
       padding-left: 2%;
      }

    #about .row {
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #about .row .nine {
          width: 100%;
      }

      /* Experience */

      #experience{
          padding-top: 20px;
      }

      #experience .header-col{
          padding-top: 0;
          text-align: center;
          width: 100%;
      }

      #experience .main-col {
        padding-right: 0;
      }

      #experience h1 {
          padding-bottom: 10px;
          padding-top: 10px;
      }

      #experience .row.work {
          margin-left: 0;
          padding-left: 5%;
          padding-right: 5%;
      }

      #experience .row.skill{
          margin-left: 0;
      }

      #experience dl, ol, ul{
          width: 90%;
      }

      #experience .bars{
          padding-top: 50px;
          text-align: center;
          width: 100%;
      }

      #experience .row {
        text-align: center;
        width: 100%;
        margin: 0;
    }

        #experience .row .nine {
          width: 100%;
      }


      /* Contact */

      #contact .container-fluid{
          padding: 0;
          text-align: center;
      }

      #content .contact-wrapper {
          height: 510px;
          margin: 0;
          padding-top: 40px;
      }

}