.contact-wrapper {
    height: 500px;
    min-height: 400px;
    background: #242323 no-repeat top center;
    padding-top: 20px;
    color: #fff;
    justify-content: center;
    overflow: hidden;
}

.contact-info {
    text-align: center;
    background: #242323;
    color: #fff;
    padding-top: 50px;
}